manifest {
  description = 'Run google DeepVariant with Nextflow!'
  mainScript = 'main.nf'
}

process.container = 'gcr.io/deepvariant-docker/deepvariant:1.2.0'

docker {
  enabled=true
}

gls {
   google.location = 'asia-southeast1-b'
   google.region  = 'asia-southeast1-b'
   google.project = 'static-athlete-329807'
}

profiles{

  test{
    params.fasta="gs://deepvariant/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta";
    params.fai="gs://deepvariant/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta.fai";
    params.fastagz="gs://deepvariant/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta.gz";
    params.gzfai="gs://deepvariant/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta.gz.fai";
    params.gzi="gs://deepvariant/quickstart-testdata/ucsc.hg19.chr20.unittest.fasta.gz.gzi";
    params.bam_folder="gs://huibucket/test-bam-folder";
  }

}


