manifest {
  description = 'Run google DeepVariant with Nextflow!'
  mainScript = 'main.nf'
}

process.container = 'gcr.io/deepvariant-docker/deepvariant:1.2.0'

docker {
  enabled=true
}

gls {
   google.location = 'asia-southeast1-b'
   google.region  = 'asia-southeast1-b'
   google.project = 'static-athlete-329807'
}

profiles{

  s3{
    params.fasta="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta";
    params.fai="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.fai";
    params.fastagz="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz";
    params.gzfai="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz.fai";
    params.gzi="s3://deepvariant-test/input/ucsc.hg19.chr20.unittest.fasta.gz.gzi";
    params.bam_folder="s3://deepvariant-test/input/";
  }

}


