manifest {
  description = 'Running DeepVariant as a Nextflow pipeline.'
  mainScript = 'main.nf'
}

process.container = 'gcr.io/deepvariant-docker/deepvariant:1.2.0'

docker {
  enabled=true
}

gls {
   google.location = 'asia-southeast1-b'
   google.region  = 'asia-southeast1-b'
   google.project = 'static-athlete-329807'
}